<template>
  <div class>
    <div class="tab__header">
      <a
        href="#"
        class="tab__link p-4 block bg-blue-dark hover:bg-blue-darker no-underline flex justify-between text-gold"
        @click.prevent="active = !active"
      >
        <strong>{{title}}</strong>
        <span class="down-Arrow" v-show="!active">&#9660;</span>
        <span class="up-Arrow" v-show="active">&#9650;</span>
      </a>
    </div>
    <div class="tab__content text-white" ref="content" :class="{'active': active}">
      <div class="py-5 px-4 leading-none">
        <p>
          <slot />
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    content: String
  },
  data() {
    return {
      active: false
    };
  },
  watch: {
    active: function(value) {
      if (value) {
        this.$refs.content.style.maxHeight =
          this.$refs.content.scrollHeight + "px";
      } else {
        this.$refs.content.style.maxHeight = null;
      }
    }
  }
};
</script>

<style lang="scss">
.tab__header {
  border-top: solid 1px $color--gold;
  border-bottom: solid 1px $color--gold;
  margin-top: -1px;
}
.tab__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
</style>