<template>
  <div class="contact-form">
    <div class="container mx-auto px-4 lg:px-0">
      <div class="contact-form-wrapper flex flex-wrap py-16">
        <div class="w-full lg:w-1/2 px-10 mb-10 lg:mb-0">
          <p class="text-gold text-2xl mb-8 uppercase">{{title}}</p>
          <div class="text-white leading-loose" v-html="content"></div>
        </div>
        <div class="w-full lg:w-1/2 px-10">
          <form
            name="JB contacto"
            method="POST"
            data-netlify="true"
            data-netlify-honeypot="bot-field"
            @submit.prevent="onSubmit($event)"
          >
            <input type="hidden" name="bot-field" />
            <input type="hidden" name="subject" :value="`${title}`" />
            <input type="hidden" name="form-name" value="JB contacto" />
            <input
              type="text"
              placeholder="NOMBRE"
              class="w-full appearance-none bg-transparent mb-6"
              name="nombre"
              v-model="formData.nombre"
            />
            <input
              type="text"
              placeholder="CORREO"
              class="w-full appearance-none bg-transparent mb-6"
              name="correo"
              v-model="formData.correo"
            />
            <textarea
              name="message"
              placeholder="MENSAJE"
              class="w-full appearance-none bg-transparent mb-6"
              v-model="formData.message"
            ></textarea>
            <button type="submit" class="text-gold bg-no-repeat bg-center py-2">ENVIAR</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  props: {
    title: String,
    content: String
  },
  data() {
    return {
      formData: {}
    };
  },
  methods: {
    encode(data) {
      return Object.keys(data)
        .map(
          key => encodeURIComponent(key) + "=" + encodeURIComponent(data[key])
        )
        .join("&");
    },
    onSubmit(e) {
      console.log(event);
      console.log(
        this.encode({
          "form-name": e.target.getAttribute("name"),
          ...this.formData
        })
      );
      axios({
        method: "POST",
        url: "/",
        headers: { "Content-Type": "application/x-www-form-urlencoded" },
        data: this.encode({
          "form-name": e.target.getAttribute("name"),
          ...this.formData
        })
      })
        .then(res => {
          console.log(res);
        })
        .catch(e => {
          console.log(e);
        });
    }
  }
};
</script>

<style lang="scss">
.contact-form-wrapper {
  border: solid 1px $color--gold;
  input,
  textarea {
    border-bottom: solid 1px $color--gold;
    color: #fff;
    &:focus {
      outline: none;
    }
  }
  button {
    background-size: auto 100%;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-image: url("../assets/img/cross.svg");
    }
  }
}
</style>