<template>
  <div id="jb-header">
    <div class="container mx-auto flex items-center z-30 relative py-8 px-4 lg:px-0">
      <div class="w-1/2 lg:w-full">
        <g-link to="/">
          <g-image src="~/assets/img/logo.svg" alt="JB delicatessen" class="lg:mx-auto logo" />
        </g-link>
      </div>
      <div class="w-1/2 lg:hidden text-right">
        <button
          class="hamburger hamburger--elastic"
          :class="{'is-active': openMenu}"
          type="button"
          @click.prevent="openMenu = !openMenu"
        >
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
      </div>
    </div>
    <div class="container mx-auto z-20">
      <div
        class="fixed lg:relative w-full min-h-screen lg:min-h-0 top-0 left-0 jb-menu flex items-center justify-center z-20"
        :class="{'jb-menu--opened': openMenu}"
      >
        <ul class="text-center text-2xl lg:text-xl lg:flex">
          <li class="mb-4 lg:mx-10">
            <g-link to="/" class="text-white uppercase" exact>Nosotros</g-link>
          </li>
          <li class="mb-4 lg:mx-10">
            <g-link :to="'/productos'" class="text-white uppercase" exact>Productos</g-link>
          </li>
          <li class="mb-4 lg:mx-10">
            <g-link to="/distribucion" class="text-white uppercase" exact>Distribución</g-link>
          </li>
          <li class="mb-4 lg:mx-10">
            <g-link to="/contacto" class="text-white uppercase" exact>Contacto</g-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      openMenu: false
    };
  }
};
</script>

<style lang="scss">
#jb-header {
  .logo {
    width: 100px;
    @media (min-width: 1024px) {
      width: 130px;
    }
  }
  .jb-menu {
    background-color: $color--darkgray;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    &.jb-menu--opened {
      transform: translateX(0);
    }
    @media (min-width: 1024px) {
      transform: translateX(0);
    }
  }
  li {
    a {
      transition: all 0.3s ease-in-out;
      position: relative;
      display: inline-block;
      &:before {
        content: "";
        position: absolute;
        display: block;
        height: 150%;
        width: 100%;
        top: 0;
        bottom: 0;
        margin: auto;
        background-image: url("../assets/img/cross.svg");
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }
      &.active--exact,
      &:hover {
        color: $color--gold;
        @media (min-width: 768px) {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
}
</style>