<template>
  <div class="product-listing__product flex flex-wrap pt-24">
    <div class="w-full lg:w-4/12 mb-6 lg:mb-0" data-aos="fade-right" data-aos-delay="2">
      <div class="product-image relative">
        <g-image :src="item.node.acf.imagen" class="w-full h-full object-cover absolute" />
        <span class="product-image__deco absolute w-full h-full hidden md:block">
          <g-image :src="item.node.acf.icon" class="absolute m-auto top-0 bottom-0 right-0" />
        </span>
      </div>
    </div>
    <div class="w-full lg:w-6/12 lg:ml-auto" data-aos="fade-left" data-aos-delay="2">
      <div class="flex flex-wrap product-info-item py-4">
        <div class="w-full md:w-1/2">
          <div class="text-gold uppercase text-lg">Producto</div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="text-white text-lg">{{item.node.title}}</div>
        </div>
      </div>
      <div class="flex flex-wrap product-info-item py-4">
        <div class="w-full md:w-1/2">
          <div class="text-gold uppercase text-lg">Tipo</div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="text-white text-lg">{{item.node.acf.tipo}}</div>
        </div>
      </div>
      <div class="flex flex-wrap product-info-item py-4">
        <div class="w-full md:w-1/2">
          <div class="text-gold uppercase text-lg">Características</div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="text-white text-lg" v-html="item.node.acf.caracteristicas"></div>
        </div>
      </div>
      <div class="flex flex-wrap product-info-item py-4">
        <div class="w-full md:w-1/2">
          <div class="text-gold uppercase text-lg">Consumo recomendado</div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="text-white text-lg" v-html="item.node.acf.consumo_recomendado"></div>
        </div>
      </div>
      <div class="flex flex-wrap product-info-item py-4">
        <div class="w-full md:w-1/2">
          <div class="text-gold uppercase text-lg">Vida en anaquel</div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="text-white text-lg" v-html="item.node.acf.vida_en_anaquel"></div>
        </div>
      </div>
      <div class="flex flex-wrap product-info-item py-4">
        <div class="w-full md:w-1/2">
          <div class="text-gold uppercase text-lg">Maridaje</div>
        </div>
        <div class="w-full md:w-1/2">
          <div class="text-white text-lg" v-html="item.node.acf.maridaje"></div>
        </div>
      </div>
      <div class="flex flex-wrap mt-8">
        <div
          class="w-1/4 hidden md:block md:pr-8"
          v-for="(maridaje, index) in maridajes"
          :key="index"
        >
          <g-image :src="maridaje.node.acf.icon" :alt="maridaje.node.title" class="w-full" />
        </div>
      </div>
    </div>
  </div>
</template>

<static-query>
{
    maridajes: allWordPressMaridajeCategory {
        edges {
            node {
                id,
                title,
                acf {
                    icon
                }
            }
        }
    }
}
</static-query>

<script>
export default {
  props: {
    item: Object
  },
  computed: {
    maridajes() {
      return this.$static.maridajes.edges.filter(maridaje => {
        return this.item.node.maridajes.includes(parseInt(maridaje.node.id));
      });
    }
  }
};
</script>