<template>
  <ClientOnly>
    <div class="product-listing">
      <div class="container px-4 lg:px-0">
        <product-listing-item
          v-for="(product, index) in filteredProducts"
          :key="index"
          :item="product"
        ></product-listing-item>
      </div>
    </div>
  </ClientOnly>
</template>

<static-query>
{
    products: allWordPressProduct {
        edges {
            node {
                id
                title,
                product_category
                acf {
                    imagen,
                    tipo,
                    icon,
                    caracteristicas,
                    consumo_recomendado,
                    vida_en_anaquel,
                    maridaje
                },
                maridajes
            } 
        }
    }
}
</static-query>

<script>
import ProductListingItem from "~/components/ProductListingItem";
export default {
  props: {
    selectedCat: String
  },
  components: {
    ProductListingItem
  },
  computed: {
    filteredProducts() {
      if (this.selectedCat !== "") {
        return this.$static.products.edges.filter(product =>
          product.node.product_category.includes(parseInt(this.selectedCat))
        );
      } else {
        return this.$static.products.edges;
      }
    }
  }
};
</script>

<style lang="scss">
.product-image {
  &:after {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .product-image__deco {
    border-top: solid 1px $color--gold;
    border-left: solid 1px $color--gold;
    border-bottom: solid 1px $color--gold;
    transform: translate(8%, -5%);
    &:after,
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 35%;
      right: 0;
      background-color: $color--gold;
    }
    &:after {
      top: 0;
    }
    &:before {
      bottom: 0;
    }
    img {
      height: 30%;
      transform: translateX(50%);
    }
  }
}
.product-info-item {
  border-top: solid 1px $color--gold;
  border-bottom: solid 1px $color--gold;
  margin-top: -1px;
  ul {
    li {
      position: relative;
      padding-left: 15px;
      &:before {
        content: "-";
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
      }
    }
  }
}
</style>