<template>
  <div class="layout">
    <Header />
    <transition name="fade" appear>
      <main class="relative">
        <slot />
        <g-image
          src="~/assets/img/JB-ilustracion-2-1.jpg"
          class="fixed w-full bottom-0 left-0 jb-illustration"
        ></g-image>
      </main>
    </transition>
    <Footer />
  </div>
</template>

<script>
import Header from "~/components/Header";
import Footer from "~/components/Footer";
export default {
  components: {
    Header,
    Footer
  },
  mounted() {
    this.$nextTick(() => {
      window.AOS = require("aos");
      AOS.init();
    });
  }
};
</script>

<style lang="scss">
.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-enter {
  opacity: 0;
}
.jb-illustration {
  opacity: 0.3;
  z-index: -1;
}
</style>